
<h1>Admin Console</h1>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="span-22" style="height: 400px">
  <a href="<%= admin_users_path %>">
    <h2>Users</h2>
    <span class="value"><%= @user_count %></span>
  </a>

  <a href="<%= admin_posts_path %>">
    <h2>Posts</h2>
    <span class="value"><%= @post_count %></span>
  </a>
</div>