
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Description:</strong>	
  <%= @post.description %>
</p>

<p>
	<strong>Uploaded By:</strong>
	<%= @post.user.email %>
</p>

<div class="image-container2">
  <%= image_tag(@post.picture_url, :width => 600) if @post.picture.present? %>
</div>

<h3>Comments</h3>

<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.name %></strong>
    <br/>
    <p><%= comment.body %></p>
    <% if current_user %>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </div>
<% end %>
<% if current_user %>
<%= render 'comments/form' %>
<% end %>

<div class="upload">
<%if @user == @post.user %>
<%= link_to 'Destroy', post_path, method: :delete, class:'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
<% end %>
 <%= link_to 'Home', posts_path, class:'btn btn-mini btn-primary' %>
 <% if @user %>
 <%= link_to 'Add More', new_post_path, class:'btn btn-mini btn-info' %>
 <% end %>
 </div>	

