<%= form_for([:admin, @user], url: admin_users_path) do |f| %>
  
  <% if @user.errors.any? %>
    <div class='immediate_feedback'>
      <ul>  
        <% @user.errors.full_messages.each do |msg| %>  
          <li><%= msg %></li>  
        <% end %>  
      </ul>
    </div>
  <% end %>
  
  <%= f.label :email, "Email Address" %>
  <%= f.text_field :email, :class => "bigtext" %>
  <%= f.label :password, "Password" %>
  <%= f.text_field :password, :class => "bigtext" %>

  <%= f.submit %>
<% end %>
  